@*@CodeCopy*@
@{
    @using SnQTranslator.AspMvc.Models.Modules.Common;
    @using SnQTranslator.AspMvc.Models.Modules.View
    @using SnQTranslator.AspMvc.Modules.Language
    @using SnQTranslator.AspMvc.Modules.Session
    @using SnQTranslator.AspMvc.Modules.View
    @model IndexViewModel

    var viewBagInfo = new ViewBagWrapper(ViewBag);
    var sessionInfo = new SessionWrapper(Context.Session);

    viewBagInfo.Translate = Translator.TranslateIt;
    viewBagInfo.Controller = ViewContext.RouteData.Values["controller"].ToString();
    viewBagInfo.Action = ViewContext.RouteData.Values["action"].ToString();

    if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var item in Model.GetDisplayProperties())
                    {
                        <th>
                            @viewBagInfo.TranslateFor(Model.GetLabel(item))
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Model.DisplayModels)
                {
                    model.ViewBagInfo = viewBagInfo;
                    <tr>
                        @foreach (var displayItem in Model.GetDisplayProperties())
                        {
                            <td>
                                @Model.GetDisplayValue(model, displayItem)
                            </td>
                        }
                        <td>
                            @await Html.PartialAsync("_CommandControl", model)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
