@{
    @using SnQTranslator.AspMvc.Models.Modules.Common
    @using SnQTranslator.AspMvc.Models.Business.App
    @using SnQTranslator.AspMvc.Models.Modules.View
    @using SnQTranslator.AspMvc.Modules.Handler
    @using SnQTranslator.AspMvc.Modules.Session
    @using SnQTranslator.AspMvc.Modules.Language
    @using SnQTranslator.AspMvc.Modules.View
    @model IndexViewModel

    var viewBagInfo = Model?.ViewBagInfo;
    var sessionInfo = new SessionWrapper(Context.Session);

    @if (string.IsNullOrEmpty(sessionInfo.SessionToken) == false)
    {
        <hr />
        <div class="d-flex bg-transparent">
            <div class="mr-auto p-sm-2">
            </div>
            <div class="p-sm-2">
                <a asp-action="Export" class="btn btn-outline-secondary">@viewBagInfo.TranslateFor("Export")</a>
            </div>
            <div class="p-sm-2">
                <a asp-action="Import" class="btn btn-outline-primary">@viewBagInfo.TranslateFor("Import")</a>
            </div>
        </div>
    }

    @await Html.PartialAsync("../Shared/Index", Model)
}